 
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}.container{
   text-align: center;
    min-height: 50vh;
    min-width: 30vw;
    border: 2px solid black ;
    padding:0.5rem;
    margin: 0.5rem;
    background-color: black;
    border-radius: 20px;

}

input{
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-size: x-large;
    text-align:right;
    height: 0.8rem;
    padding-top: 1rem;
    min-width: 10vw;
    margin-top: 1rem;
    padding-bottom: 5rem;
    margin-bottom: 10px;
    background: transparent;
    
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}


button{
    min-height: 60px;
    min-width: 60px;
    border-radius:50%;
    border: none;
    font-weight: 700;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    

}
.row1 button{
    background-color: grey;
} 